#countLabel{
display: block;
text-align: center;
font-size: 10em;
font-family: Helvetica, sans-serif;
}

#btncont{
    text-align: center;

}
#btncont2{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.btn:hover{
    background-color: darkblue;
}